

<div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8 p-5">
            <div class="card w-50 jumbotron">
                <div class="card-body">
                  <h5 class="card-title">Data From Url Params</h5>
                  <hr>
                  <p class="card-text"></p>
                  
                  <p> <span style="color:blue">Id:</span> {{myData.id}}</p>
                  <p> <span style="color:blue">Title:</span>       {{myData.title}}</p>  
                  <label for="myfile">Add Files:</label>
                  <input type="file" id="myfile" name="myfile" multiple><br>
                  <a href="#" class="btn btn-danger float-right">Delete</a>
                </div>
              </div>

        </div>
       
    </div>
</div>
